.punk{
    display: flex;
    background-color: #82cee6;
    &__page{
        &-n{
        }
        &-r{
            margin-left: 20vw;
            display: grid;
            background-color: #82cee6;
        }
    }
}